/* -------------- google fonts --------------- */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
}
.home__video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html, 
body{
    width: 100%;
}

img{
    width: 100%;
}

.btns{
    margin-top: 30px;
}

.btn{
    padding: 10px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #01B48D;
    border-radius: 5px;
    text-align: center;
}

.hidden{
    display: none;
}

section{
    padding: 20px 100px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: transparent;
    /* box-shadow: 0px -2px 3px 2px #ccc; */
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.nav__list{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.logo{
    font-size: 1.2rem;
    color: #fff;
}

.nav__link{
    color: #fff;
    transition: .5s ease;
    position: relative;
}
.nav__link:hover{
    color: #01B48D;
}

.nav__link.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #01B48D;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__icons > i{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}
.nav__icons > i:nth-child(2){
    font-size: 1.5rem;
}

.nav__icons > i{
    display: none;
}

.nav__icons i.active{
    display: block;
}

.section__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.my__img-box{
    width: 400px;
    overflow: hidden;
    border-radius: 31% 69% 79% 21% / 27% 40% 60% 73%;
    animation: borderAnim 7s linear infinite alternate;
    -webkit-box-shadow:0px 0px 64px 4px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 64px 4px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 64px 4px rgba(45,255,196,0.9);
}

.my__img{
    scale: 1;
    animation: imgScale 7s linear infinite alternate;
}

.page__title{
    font-size: 3rem;
    color: #fff;
}

.page__title span{
    color: #01B48D;
}

.icons{
    margin-top: 50px;
}
.icons > a{
    color: white;
    font-size: 1.7rem;
}
.icons > a:nth-child(1){
    color: teal;
}
.icons > a:nth-child(2){
    color: #48A9DA;
    margin-left: 10px;
}
.icons > a:nth-child(3){
    color: crimson;
    margin-left: 10px;
}


@keyframes imgScale {
    from{
        scale: 1;
    }
    to{
        scale: 1.2;
    }
}

@keyframes borderAnim {
    0%{
        border-radius: 31% 69% 79% 21% / 27% 40% 60% 73%;
    }
    50%{
        border-radius: 31% 69% 37% 63% / 35% 23% 77% 65%;
    }
    100%{
        border-radius: 31% 69% 77% 23% / 35% 23% 77% 65%;
    }
}


@media (max-width: 1079px){
    html{
        font-size: 92%;
    }
    .page__title{
        font-size: 2rem;
    }
    .my__img-box{
        width: 290px;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    section, header{
        padding: 20px;
    }
    .section__content{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        justify-content: center;
    }
    .page__title{
        font-size: 1.5rem;
    }
    .nav__list{
        display: none;
    }
    .hidden{
        display: block;
    }
}
